:root {
  --btn-bg: #313030;
  --btn-color: white;
  --btn-border: solid 4px white;
}

* {
  box-sizing: border-box;
  font-family: 'Black Ops One', sans-serif;
}


body {
  background-image: url("https://n1md7.github.io/slot-game/img/background.webp");
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.gold {
  color: gold !important;
