body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #000;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

input[type="text"], input[type="password"], button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-btn, .login-btn {
    background-color: #3b5998;
    color: #fff;
    border: none;
    cursor: pointer;
}

.register-btn:hover, .login-btn:hover {
    background-color: #2d4373;
}

#register-form, #profile {
    display: none;
}

#login-form {
    display: block;
}
